/* .pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 87.5vh;
    
    border: 1px solid red;
}

.pergunte {
    height: 35px;
    width: 140px;
    border: 1px solid var(--tercearia);
    background-color: var(--primaria);
    color: var(--tercearia);
    padding-left: 20px ;
    border-radius: 20px 0px 0px 20px;
}

.lupa {
    display: block;
    height: 30px;
    border: 1px solid black;
} */