.container {
    width: 100%;
    min-height: 91.3vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-block: 1rem;
    gap: 1rem;

    border: 1px solid red;

}

.pergunte {
    width: 150px;
    height: 35px;
    background-color: var(--primaria);
    border: 1px solid var(--tercearia);
    padding-left: 20px;
    border-radius: 20px;
}

.pergunte:hover {
    background-color: var(--secundaria);
}