.home {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.home input {
    width: 150px;
    height: 35px;
    background-color: var(--primaria);
    border: 1px solid var(--tercearia);
    padding-left: 20px;
    border-radius: 20px;
}

.home input:hover {
    background-color: var(--secundaria);
}