.home {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 80vh;
    
    border: 1px solid blue;
}

.novo, .noticias{
    display: flex;
    align-items: center;
    justify-content:start;
    flex-direction: column;

    width: 50%;
    height: 80vh;
    margin: 10px;

    border: 1px solid red;
}

.novo h3, .noticias h3 {
    padding: 10px;
}

@media (max-width: 360px) {
    .home {
        flex-direction: column;
        
        border: 1px solid blue;
    }
    .novo, .noticias{
        width: 95%;
    }
}

