/* .link {
    display: flex;
    align-items: center;
    flex-direction: column;

    border: 1px solid red;
} */

.assuntos {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 322px;
    height: 266px;

    /* border: 1px solid red; */
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 1px solid blue; */
}

.titulo {
    display: flex;
    flex-direction: column;

    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.125rem;

    /* border: 1px solid black; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.509); */
}
.assuntos p {
    display: flex;
    justify-content: center;

    /* border: 1px solid green; */
}