.tema {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 2px;
    justify-content: center;
    flex-direction: column;

    border: 1px solid red;
}

.abordagem {
    cursor: pointer;
    border: 1px solid var(--tercearia);
    width: 25px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comabordagem{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 1px solid blue;
}

.semabordagem {
    display: none;
}

.superficial, .profundo {
    width: 100px;
    height: 35px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: var(--primaria);
    cursor: pointer;
    border: 1px solid var(--tercearia);
}

.superficial:hover, .profundo:hover {
    background-color: var(--secundaria);
}

.comsuperficial, .comprofundo {
    width: auto;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 30px;

    border: 1px solid blue;
}

.semsuperficial, .semprofundo{
    display: none;
}

iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

