:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primaria: #FFA500;
  --secundaria: #FDB348;
  --tercearia: #949494;
  --vermelho: #ff0000df;
  --branco: white;
  --preto: black;

  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  padding: 50px;
}
